*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
 li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.anchorstyle{
    display: flex;
    align-items: center;
    color:white;
    gap: 0.01rem;
    border: 5px;
    border-color: antiquewhite;
    justify-content: center;
}




.headerbottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top:1rem;
    justify-content: space-between;
    padding-bottom: 1rem;
    height:4rem;
    color:black;
    border-bottom:1px solid rgb(210, 201, 201);;
}


#logoimage{
    height: 30px;
    width:30px;
    
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left:auto ;
    margin-right: auto;
    padding:0 1rem;
   
   
    
}
header .container{

    display:flex;
        flex-direction: row;
        justify-content: space-between;
}

.iconbutton{
    border:none;
    background: none;
    color: black;
    font-size: 5px;
}
.icon{
    display:flex;
    gap:1rem;
    align-items: center;
    font-size: 10px;
    padding:2px;
   /* background-color: black;*/
}
#front_image{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.image_container {
    max-height: 285px; 
    overflow: hidden;
    
}
.text{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:0%;
    background-color: rgb(145, 216, 245);
    color:white;
    margin-top: 0%;
    

}

h2{
    margin-top: 20px;
    margin-bottom: 5px;
}
h1{
    margin-bottom:5px;
}
#discription{
    margin-bottom: 10px;
}
#buttonshopnow{
    margin-top: 10px;
    margin-bottom: 20px;
    padding:0.5rem 2rem;
    border-radius: 30px;
    border: none;

}
.category{
    
   border: 0.5px solid rgb(224, 218, 218); 
    padding:1rem;
    margin-top: 20px;
    border-radius: 15px;
    }
    
.images{
    width:100%;
    
    object-fit: cover;

}
.cattext{
    display: flex;
     justify-content: center;
}
.productcategory{
    border: 0.5px solid rgb(224, 218, 218); 
    padding:1rem;
    margin-top: 20px;
    border-radius: 15px;

}
.productcat{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.productlist{
    border: 0.5px solid rgb(224, 218, 218); 
    padding:1.5rem;
    border-radius: 0.5rem;
  }

/*.fstimage{
    margin-top: 20px;
}*/
.textalign{
    
    display: flex;
    align-items: center;
    margin-top: 5px;

}
.product{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
#logotext{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
   
}

.star{
    color: orange;
}
.priceandadd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.addbutton{
    background-color: rgb(47, 171, 47);
    border-radius: 4px;
    font-size: small;
    border: none;
            cursor: pointer;
           color: white;
            padding:5px;
}
.addbutton:hover{
background-color: rgb(24, 118, 24);
    /*transition: background-color 0.3s ease;*/
}
.textcolor{
    color: rgb(148, 142, 142);
}


 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
 li {
    display: inline;
    margin-right: 10px; 
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
#flag{
    width:1rem;
}
.searchbutton{
    display: none;
}



.fstdivtext{
    display: none;
}
.productcategorytwo{
    border: 0.5px solid rgb(224, 218, 218); 
    padding:1rem;
    margin-top: 20px;
    border-radius: 15px;

}
.productcategoryone{
    border: 0.5px solid rgb(224, 218, 218); 
    padding:1rem;
    margin-top: 20px;
    border-radius: 15px;
    width:100%;
    height: 275px;

}
.catstyle{
    display: flex;
    align-items: center;
}


/* Styles for screens between 576px and 767.98px (Small devices) */
